<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compra - Nelson Eletro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="text/javascript" src="js/carrinho.js"></script>
</head>

<body>
    <!-- Inicio do Menu-->
    <nav <nav class="menu">
        <a href="index.html"><img width="100px" src="../images/logo.png" width="100px" alt="Nelson Eletro">
            <a href="produtos.html">Produtos</a>
            <a href="loja.html">Nossas Lojas</a>
            <a href="contato.html">Contato</a>
           <a href="carrinho.html">Carrinho de Compra</a> 
    </nav>
    <!-- Fim do Menu -->
    <header>
        <h1>Carrinho de Compra</h1>
    </header>
    <hr>
    
     <main>
        <p>Confirme as informações da compra abaixo.<br />
<br />
Em seguida, selecione a opção de entrega e a forma de pagamento.<br />
<br />
    
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Meu Carrinho</h3>
                <div class="jumbotron">
                    <div id="descricao"> 

                    </div>
                    <strong><label>Quantidade</label></strong>
                    <input type="number" id="qtdProduto" class="qtd" name="qtd">
                </div>
            </div>    
        </div> 
            <div class="col-sm-4">
                <h3>Resumo da Compra</h3>
                <div id="jumbotronCompra" class="jumbotron">
                    <div id="valorTotal"> 

                    </div>

                </div>
            </div>
    </div>
</section>

    <br /><br /><br /><br />
        
   <footer id="rodape">
        <p id="formas_pagamento"><b>Formas de Pagamento:</b></p>
        <img src="../images/formasdepagamento.png" alt="Formas de pagamento">
        <p>&copy; Nelson Eletro</p>
    </footer>
</body>

</html>
