
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nelson Eletro</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- Inicio do Menu-->
    <nav class="menu">
      <a href="/index"><img width="100px" src="/logo.png" width="100px" alt="Nelson Eletro">
          <a href="/produtos">Produtos</a>
          <a href="/loja">Nossas Lojas</a>
          <a href="/contato">Contato</a>
         <a href="/carrinho">Carrinho de Compra</a> 
  </nav>
    <!-- Fim do Menu -->
   
    <main>
        <h1>Seja bem vindo(a)!</h1>
        <p>Aqui na nossa loja de eletronicos, acessa e carrinho e ganha desconto!</p>
    </main>

    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
   
  
    <footer id="rodape">
        <p id="formas_pagamento"><b>Formas de Pagamentos:</b></p>
        <img src="/formasdepagamento.png" alt="Formas de pagamentos">
        <p>&copy; Nelson Eletro</p>
    </footer>
  </body>
</html>
