<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossas lojas - Nelson Eletro</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
      <!-- Inicio do Menu-->
     <nav class="menu">
        <a href="/index"><img width="100px" src="/logo.png" width="100px" alt="Nelson Eletro">
            <a href="/produtos">Produtos</a>
            <a href="/loja">Nossas Lojas</a>
            <a href="/contato">Contato</a>
           <a href="/carrinho">Carrinho de Compra</a> 
    </nav>
     <!-- Fim do Menu -->
    <header><h1>Nossas Lojas</h1></header>
    <hr>
    
    <main>
        <p>Contamos com cinco unidades espalhadas por todo o Brasil. <br />
<br />
Conheça a loja mais perto de você! <br />
<br />
<br /><br />
- Unidade São Paulo - SP <br />
<br />
- Unidade Goiânia - GO <br />
<br />
- Unidade Palmas - TO <br />
<br />
- Unidade Florianópolis - SC <br />
<br />
- Unidade Manaus - AM <br />
<br />
</p>
    </main>

    <section>
        <div class="row">
            <div class="col">
    </section>
            
    <br /><br /><br /><br />
            
    <footer id="rodape">
        <p id="formas_pagamento"><b>Formas de Pagamento:</b></p>
        <img src="/formasdepagamento.png" alt="Formas de pagamento">
        <p>&copy; Nelson Eletro</p>
    </footer>
</body>
</html> 
