<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Nelson Eletro</title>
    <link rel="stylesheet" href="/style.css">
    <script src="js/script.js"></script>
</head>

<body>
    <!-- Inicio do Menu-->
    <nav class="menu">
        <a href="/index"><img width="100px" src="/logo.png" width="100px" alt="Nelson Eletro">
            <a href="/produtos">Produtos</a>
            <a href="/loja">Nossas Lojas</a>
            <a href="/contato">Contato</a>
           <a href="/carrinho">Carrinho de Compra</a> 
    </nav>
    <!-- Fim do Menu -->
    <header>
        <h1>Produtos</h1>
    </header>
    <hr>

        <main>
        <p>Os melhores descontos você encontra aqui. Selecione a categoria desejada e aproveite!</p>
    </main>
        
    <section class="categorias">
        <h3>Categorias</h3>
        <ul>
            <li onclick="exibir_todos('todos')">Todos (25)</li>
            <li onclick="exibir_categoria('geladeira')">Geladeira (5)</li>
            <li onclick="exibir_categoria('fogao')">Fogão (5)</li>
            <li onclick="exibir_categoria('tv')">Televisão (5)</li>
            <li onclick="exibir_categoria('notebook')">Notebook (5)</li>
            <li onclick="exibir_categoria('lavalouca')">Lava-louça (5)</li>
        </ul>
    </section>
    <div class="container">
    <div class="produtos">
        <div class="box-produto" id="geladeira" style="display:block">
            <img src="/images/GELADEIRA1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Geladeira Brastemp Frost Free Inverse 443 litros cor Inox com Turbo Ice </p>
            <hr>
            <p class="descrição"><strike>R$ 6.300,00</strike>
            </p>
            <p class="preco">R$ 4.929,55</p>
            <button onclick="carrinho('comprar')" type="button" class="btn btn-primary">Comprar</button>
        </div>
       
    <div class="produtos">
        <div class="box-produto" id="notebook" style="display:block">
            <img src="/images/NOTEBOOK1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Notebook Gamer Acer Nitro 5 Intel Core i5 8GB - 512GB SSD 15,6” Full HD</p>
            <hr>
            <p class="descrição"><strike>R$ 6.500,00</strike></p>
            <p class="preco">R$ 4.370,07</p>
            <button onclick="carrinho('comprar')" type="button" class="btn btn-primary">Comprar</button>
        </div>
        
 
        <div class="produtos">
        <div class="box-produto" id="lavalouca" style="display:block">
            <img src="/images/LAVALAOUÇA1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Lava-louças Brastemp 8 Serviços BLF08 - Cinza Metálico</p>
            <hr>
            <p class="descrição"><strike>R$ 1.869,00 </strike></p>
            <p class="preco">R$ 1.949,00</p>
            <button onclick="carrinho('comprar')" type="button" class="btn btn-primary">Comprar</button>
        </div>
        
    <div class="produtos">
        <div class="box-produto" id="fogao" style="display:block">
            <img src="/images/FOGAO1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Fogão 5 Bocas Mesa de Vidro Atlas Preto</p>
            <hr>
            <p class="descrição"><strike>R$ 1.499,00</strike>
            </p>
            <p class="preco">R$ 4.929,55</p>
            <button onclick="carrinho('comprar')" type="button" class="btn btn-primary">Comprar</button>
        </div>
        
    <div class="produtos">
        <div class="box-produto" id="tv" style="display:block">
            <img src="/images/TV1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Smart TV Samsung UN50AU7700GXZD LED 4K 50" 100V/240V</p>
            <hr>
            <p class="descrição"><strike>R$ 3.999,00</strike></p>
            <p class="preco">R$ 2.476,56</p>
            <button onclick="carrinho('comprar')" type="button" class="btn btn-primary">Comprar</button>
        </div>
       
    </div>
        
 <br /><br /><br /><br />
        
    <footer id="rodape">
        <p id="formas_pagamento"><b>Formas de Pagamento:</b></p>
        <img src="/formasdepagamento.png" alt="Formas de pagamento">
        <p>&copy; Nelson Eletro</p>
    </footer>
</body>

</html>
