<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Nelson Eletro</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="js/script.js"></script>
</head>

<body>
    <!-- Inicio do Menu-->
    <nav class="menu">
        <a href="index.html"><img width="100px" src="../images/logo.png" width="100px" alt="Nelson Eletro">
            <a href="produtos.html">Produtos</a>
            <a href="loja.html">Nossas Lojas</a>
            <a href="contato.html">Contato</a>
    </nav>
    <!-- Fim do Menu -->
    <header>
        <h1>Produtos</h1>
    </header>
    <hr>

    <section class="categorias">
        <h3>Catégorias</h3>
        <ul>
            <li onclick="exibir_todos('todos')">Todos (20)</li>
            <li onclick="exibir_categoria('geladeira')">Geladeiras (5)</li>
            <li onclick="exibir_categoria('fogao')">Fogões (5)</li>
            <li onclick="exibir_categoria('tv')">TV,s (5)</li>
            <li onclick="exibir_categoria('notebook')">Notebook (5)</li>
            <li onclick="exibir_categoria('lavalouca')">Lava - Louças (5)</li>
        </ul>
    </section>
    <div class="container">
    <div class="produtos">
        <div class="box-produto" id="geladeira" style="display:block">
            <img src="../images/GELADEIRA1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Geladeira Brastemp Frost Free 443L Inox </p>
            <hr>
            <p class="descrição"><strike>R$ 6.300,00</strike>
            </p>
            <p class="preco">R$ 4.929,55</p>
        </div>
        <div class="box-produto" id="geladeira" style="display:block">
            <img src="../images/GELADEIRA2.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Geladeira/Refrigerador Smart Samsung Frost Free - French Door 614L</p>
            <hr>
            <p class="descrição"><strike>R$ 37.799,00</strike></p>
            <p class="preco">R$ 23.749,05</p>
        </div>

        <div class="box-produto" id="geladeira" style="display:block">
            <img src="../images/GELADEIRA3.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Geladeira Philco 437 Litros Side By Side Eco Inverter Inox</p>
            <hr>
            <p class="descrição"><strike>R$ 6.000,00</strike></p>
            <p class="preco">R$ 5.136,37</p>
        </div>
        <div class="box-produto" id="geladeira" style="display:block">
            <img src="../images/GELADEIRA4.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Geladeira Brastemp Frost Free Inverse - Branca 443L</p>
            <hr>
            <p class="descrição"><strike>R$ 10.639,00</strike></p>
            <p class="preco">R$ 5.899,00</p>
        </div>
        <div class="box-produto" id="geladeira" style="display:block">
            <img src="../images/GELADEIRA5.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Geladeira/Refrigerador Brastemp Frost Free Inverse - Preta 419L BRY59BE</p>
            <hr>
            <p class="descrição"><strike>R$ 6.000,00</strike></p>
            <p class="preco">R$ 5.690,00</p>
        </div>
    </div>
    <div class="produtos">
        <div class="box-produto" id="notebook" style="display:block">
            <img src="../images/NOTEBOOK1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Notebook Gamer Acer Nitro 5 Intel Core i5 8GB - 512GB SSD 15,6” Full HD</p>
            <hr>
            <p class="descrição"><strike>R$ 6.500,00</strike></p>
            <p class="preco">R$ 4.370,07</p>
        </div>
        <div class="box-produto" id="notebook" style="display:block">
            <img src="../images/NOTEBOOK2.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Notebook Acer Intel Core i5 8GB 512GB SSD 15,6” - Full HD Windows 11 Aspire 3</p>
            <hr>
            <p class="descrição"><strike>R$ 4.799,00</strike></p>
            <p class="preco">R$ 2.975,07</p>
        </div>

        <div class="box-produto" id="notebook" style="display:block">
            <img src="../images/NOTEBOOK3.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Notebook HP, AMD Ryzen 3, 8GB RAM, 256GB SSD, Tela de 14", Windows 11 Pro</p>
            <hr>
            <p class="descrição"><strike>R$ 5.295,00</strike>
            </p>
            <p class="preco">R$ 4.765,50</p>
        </div>
        <div class="box-produto" id="notebook" style="display:block">
            <img src="../images/NOTEBOOK4.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Notebook Dell Inspiron 15.6" Full HD 11ª Geração Intel Core i3 4GB 256GB SSD Windows 11
            </p>
            <hr>
            <p class="descrição"><strike>R$ 3.549,00</strike></p>
            <p class="preco">R$ 2.859,12</p>
        </div>

        <div class="box-produto" id="notebook" style="display:block">
            <img src="../images/NOTEBOOK5.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Notebook Samsung Book Intel Core i5 8GB 256GB SSD - 15,6” Full HD Windows 11</p>
            <hr>
            <p class="descrição"><strike>R$ 3.549,00</strike></p>
            <p class="preco">R$ 2.859,12</p>
        </div>
    </div>
    <div class="produtos">
        <div class="box-produto" id="lavalouca" style="display:block">
            <img src="../images/LAVALAOUÇA1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Lava Louças Brastemp Cinza Metálico</p>
            <hr>
            <p class="descrição"><strike>R$ 1.869,00 </strike></p>
            <p class="preco">R$ 1.949,00</p>
        </div>
        <div class="box-produto" id="lavalouca" style="display:block">
            <img src="../images/LAVALAOUÇA2.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Lava-Louças Electrolux Branca com 08 Serviços e 06 Programas de Lavagem - LV08B</p>
            <hr>
            <p class="descrição"><strike>R$ 2.989,00</strike></p>
            <p class="preco">R$ 2.069,10</p>
        </div>
        <div class="box-produto" id="lavalouca" style="display:block">
            <img src="../images/LAVALAOUÇA3.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Lava-Louças Electrolux 8 Serviços Branco (LL08B) </p>
            <hr>
            <p class="descrição"><strike>R$ 3.000,00</strike></p>
            <p class="preco">R$ 2.989,00</p>
        </div>
        <div class="box-produto" id="lavalouca" style="display:block">
            <img src="../images/LAVALAOUÇA4.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Lava Louças Midea 14 Serviços Preta</p>
            <hr>
            <p class="descrição"><strike>R$ 3.699,00</strike></p>
            <p class="preco">R$ 2.599,00</p>
        </div>
        <div class="box-produto" id="lavalouca" style="display:block">
            <img src="../images/LAVALAOUÇA5.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Lava-louças Ative! 8 Serviços Prata Brastemp 110V BLF08ASANA</p>
            <hr>
            <p class="descrição"><strike>R$ 1.849,00</strike></p>
            <p class="preco">R$ 1.664,10</p>
        </div>
    </div>
    <div class="produtos">
        <div class="box-produto" id="fogao" style="display:block">
            <img src="../images/FOGAO1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Fogão 5 Bocas Mesa de Vidro Atlas Preto</p>
            <hr>
            <p class="descrição"><strike>R$ 1.499,00</strike>
            </p>
            <p class="preco">R$ 4.929,55</p>
        </div>
        <div class="box-produto" id="fogao" style="display:block">
            <img src="../images/FOGAO2.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Fogão Atlas 5 Bocas preto Atenas Glass</p>
            <hr>
            <p class="descrição"><strike>R$ 1.529,00</strike></p>
            <p class="preco">R$ 1.199,00</p>
        </div>

        <div class="box-produto" id="fogao" style="display:block">
            <img src="../images/FOGAO3.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Fogão 5 Bocas Mesa de Vidro Atlas Preto</p>
            <hr>
            <p class="descrição"><strike>R$ 1.499,00</strike></p>
            <p class="preco">R$ 1.069,00</p>
        </div>
        <div class="box-produto" id="fogao" style="display:block">
            <img src="../images/FOGAO4.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Fogão 4 Bocas Mesa de Vidro Horus </p>
            <hr>
            <p class="descrição"><strike>R$ 1.099,90  </strike></p>
            <p class="preco">832,90</p>
        </div>
        <div class="box-produto" id="fogao" style="display:block">
            <img src="../images/FOGAO5.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Fogão Mas 604 GGEV SXE </p>
            <hr>
            <p class="descrição"><strike>R$ 19.275,00</strike></p>
            <p class="preco">R$ 16.275,00</p>
        </div>
    </div>
    <div class="produtos">
        <div class="box-produto" id="tv" style="display:block">
            <img src="../images/TV1.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Smart TV Samsung UN50AU7700GXZD LED 4K 50" 100V/240V</p>
            <hr>
            <p class="descrição"><strike>R$ 3.999,00</strike></p>
            <p class="preco">R$ 2.476,56</p>
        </div>
        <div class="box-produto" id="tv" style="display:block">
            <img src="../images/TV2.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Smart TV 65” 4K LED LG 65UQ8050 AI Processor - Wi-Fi Bluetooth HDR</p>
            <hr>
            <p class="descrição"><strike>R$ 4.799,00</strike></p>
            <p class="preco">R$ 3.799,05</p>
        </div>

        <div class="box-produto" id="tv" style="display:block">
            <img src="../images/TV3.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Smart TV LED 49" Samsung Tela Curva Full HD</p>
            <hr>
            <p class="descrição"><strike>R$ 21.999,00 </strike>
            </p>
            <p class="preco">R$ 14.724,05</p>
        </div>
        <div class="box-produto" id="tv" style="display:block">
            <img src="../images/TV4.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Smart TV 65” 4K QLED Samsung QN65Q8CAMGXZD - Curva</p>
            <hr>
            <p class="descrição"><strike>R$ 15.549,00</strike></p>
            <p class="preco">R$ 14.724,05</p>
        </div>

        <div class="box-produto" id="tv" style="display:block">
            <img src="../images/TV5.jpeg" width="120px" onclick="destaque(this)"><br>
            <p class="descrição">Smart Tv LG Ai Thinq 50uq801c0sb Led 4k 50 100v/240v</p>
            <hr>
            <p class="descrição"><strike>R$ 2.899,00</strike></p>
            <p class="preco">R$ 2.619,00</p>
        </div>
    </div>
    </div>

    <footer id="rodape">
        <p id="formas_pagamento"><b>Formas de Pagamentos:</b></p>
        <img src="../images/formasdepagamento.png" alt="Formas de pagamentos">
        <p>&copy; Nelson Eletro</p>
    </footer>
</body>

</html>